body {
    background: #DFEEF6;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding-top: 40px;
}
h1 {
    border-bottom: 2px solid #EEEEEE;
	font-size: 30px;
    margin-bottom: 24px;
    padding-bottom: 19px;	
}
header
{
    background-color: #008DB8;
    background-image: -moz-linear-gradient(#00A0D1, #008DB8);
    background-repeat: no-repeat;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

header img {
  float: left;
  height: 50px;
  padding: 5px 10px;
}



.container {
	margin: 0 auto;
 	width: 900px;
}

section {
  margin-top: 1em;
  font-size: 110%;
  padding: 20px;
  background: #fff;
}

section h1 {
 
}

section.column {
	font-size: 14px/18px;
}

.inner {
	font-size: 80%;
	padding: 20px 10px;
    width: 400px;	
}

em{
    color: #00A0D1;
    font-style: normal;
}

#logo {
    color: #FFFFFF;
    float: left;
    font: 900 45px sommet-slab,kulturista-web,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    margin: 0px 0 30px -4px;
    padding-left: 20px;
    text-decoration: none;
    text-shadow: 0 2px 2px #39677F;	
}

/* Links */
a {
  color: #069;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo a {
	color: #FFF;
}

#logo a:hover {
  text-decoration: none;
  text-shadow: 0 4px 4px #000;	
  -moz-transition: opacity 0.25s linear 0s;
}

/* Navigation */
nav {
  float: right;
}

nav {
  color: white;
  line-height: 30px;
  letter-spacing: -1px;
  text-decoration: none;
  text-shadow: 0 2px 2px #39677F;	
  padding: 10px 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  color: #FFF;
  padding: 5px 5px;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

footer nav ul li a {
	color: #069;
}

footer a:visited {
	color: #069;
}

/* Sign Up Form */
label {
    font-weight: bold;
    line-height: 1.75em;
    margin: 0;
    padding-top: 1em;
    vertical-align: middle;	
}

input {
	border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px #EEEEEE;
    font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
    margin: 0;
    padding: 6px;
    width: auto;
}


input:focus {
    border-color: rgba(82, 168, 236, 0.75);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}


input.continue {
    background-color: #F79923;
    background-image: -moz-linear-gradient(center top , #F79923, #F27016);
    border: 1px solid #925B33;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 #F9BC69 inset;
    color: #FFFFFF;
    font: 700 18px sommet-slab,kulturista-web,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #925B33;	
}

a.continue, a.checkout, button.large, input#user_submit {
    background-color: #F79923;
    background-image: -moz-linear-gradient(center top , #F79923, #F27016);
    border: 1px solid #925B33;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 #F9BC69 inset;
    color: #FFFFFF;
    font: 700 18px sommet-slab,kulturista-web,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #925B33;
}

input.continue:hover,  a.continue:hover,  a.checkout:hover, button.large:hover, input#user_submit:hover {
	background-color: #F8A53B;
    background-image: -moz-linear-gradient(center top , #F8A53B, #F47F2E);
    border: 1px solid #A56739;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 #FAC781 inset;
    text-shadow: 0 -1px 0 #A56739;
}

/* Sign up button */
a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* User show page */
table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}
.links {
	float:right;	
}

/* Flash Messages */
h1 span.success, h1 span.error {
	padding: 0.1em 0.4em;
	}
	
td span.error {
	padding: 0.2em;
	}
	
td span.success {
	padding: 0.2em;
	}	

/* Specific */
.airtime {
	font-size: 100%;
	padding: 0px 20px;	
}


/* All Purpose */
.error, .alert, .notice, .success, .info, #error_explanation {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert, #error_explanation {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
.clearer {clear:both;}
.column{float: left;'}