header
{
    background-color: #008DB8;
    height: 60px;
}

header img {
	width: 100%;	
}

#logo {
    color: #FFFFFF;
    float: left;
    font: 900 45px sommet-slab,kulturista-web,"Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -1px;
    margin: 0px 0 30px -4px;
    padding-left: 20px;
    text-decoration: none;
    text-shadow: 0 2px 2px #39677F;	
}