<table class="index" data-hook="order_details" style="width:100%;">
  <tbody id='package-items' data-hook>

    <% @order.order_items.each do |order_item| %>
      <tr data-hook="package_details_line_item_row">
      		<td width="20px"><%= order_item.variant.product.name %></td>
      		<td width="20"><%= format_price(order_item.variant.full_price) %></td>
     </tr>
     <tr>
     	<td>
      			<table>
      				<% order_item.packages.each do |package| %>
      				<tr>
      					<td width="800"><b><%= package.payload %></b></td>
      				</tr>
      				<% end %>
      			</table>
      	</td>
      </tr>
      <br>
    <% end %>
  </tbody>
</table>