<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Succceful payment</h1>

 	<% @email_content %>   
    
    <p>Thanks for buying and have a great day!</p>
  </body>
</html>