<div data-role="header" data-theme="d">
  <h1>Orders</h1>
  <%= link_to 'Home', root_path, "class" => "ui-btn-left" %>
</div>
 
<div data-role="content" data-theme="d"> 
	
	 <ul data-role="listview" data-filter="true">
	 <% @orders.each do |order| %>
	 	<li>
	 		<h3><%= link_to order.number , order %></h3>
	 		<p>
	 			<%= order.created_at %>
	 			<br>
	 			Price: <%= format_price(order.customer_total) %>
	 		</p>
	 		
	 	</li>
	 <% end %>
	<ul>
	 
	<br />
	
</div>