<h1> About Us </h1>
<p>
	<b>MoSeller is a virtual product selling machine!</b>
	<br><br>
	Electricity, Airtime all at the touch of a button
	<br><br>
	<b>Convienience is King!</b>
	<br><br>
	From your mobile phone to you directly no paperwork	
</p>
<br>
<h3>A little airtime guide</h3>

<b>Vodacom Voucher</b>
<p>
	*100*01*(voucher pin)#
	<br>
	Hit call on your phone
</p>
<b>MTN Voucher</b>
<p>
	*141*(voucher pin)#
	<br>
	Hit call on your phone
</p>
<b>CELL C Voucher</b>
<p>
	*102*(voucher pin)#
	<br>
	Hit call on your phone
</p>
