<h1>Home</h1>

<h3>Vodacom Voucher</h3>
<p>
	*100*01*(voucher pin)#
	<br>
	Hit call on your phone
</p>
<h3>MTN Voucher</h3>
<p>
	*141*(voucher pin)#
	<br>
	Hit call on your phone
</p>
<h3>CELL C Voucher</h3>
<p>
	*102*(voucher pin)#
	<br>
	Hit call on your phone
</p>