<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Succceful purchase, Order Number: <%= @order.number %></h1>

    <p>
      Succceful purchase, Order Number: <%= @order.number %>
    </p>

    <table>
    <% @order.order_items.each do |order_item| %>
      <tr data-hook="package_details_line_item_row">
      	<td width="100">
	      	<table>
	      		<% order_item.packages.each do |package| %>
	      		<tr data-hook="package_details_line_item_row">
	      			<td width="100"><%= package.payload %></td>
	      		</tr>
	      		<% end %>
	      	</table>
      	</td>   		
      </tr>
    <% end %>
    </table>    
    
    <p>Thanks for buying and have a great day!</p>
  </body>
</html>