<h1>Your Account</h1>

<p>
	Your current balance is : <b><%= format_price(@account_balance) %></b>
</p>

<p>
	Your have <b><%= format_price(@buying_cap_left) %></b> buying cap left.
</p>

<h3><%= t(:account_items) %></h3>
<%= render :partial => 'shared/account_items', :locals => {:account_items => @account_items} %>