<div data-role="header" data-add-back-btn="true" data-theme="d">
  <h1>Select a purchase</h1>
  <%= link_to 'Home', root_path, "class" => "ui-btn-right" "data-icon" => "home" %>
</div>

<div data-role="content" data-theme="d"> 
 
	<ul data-role="listview" data-theme="d">
	    <% @categorys.each do |category| %>
	    <li>
	      <%= link_to category.title, category %>
	    </li>
	    <% end %>
	</ul> 
 
</div> 
 
<br />