<!DOCTYPE html>
<html>
<head>
<title>MoSeller</title>
<meta name="viewport" content="width=device-width"/> 

<%= stylesheet_link_tag 'mobile' %>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>

<script>
 $(document).ready(function() {
  // disable ajax nav

 });
</script>
</head>
<body>
<div data-role="page" id="home">
  <header>
		<div id="logo">
			<%= image_tag "emblem.png" %>
			MoSeller
		</div>
  </header>
  
  <%= yield %>

 <div data-role="footer" data-theme="d">
	<div data-role="navbar">
		<%= render "shared/footer_navigation" %>
	</div>
 </div>
</div>
</body>
</html>